[2012-12-03 12:12] stefanfoulis opened #1 "table name clash with builtin link plugin"
because of django-cms' magic table renaming, this plugin ends up using the same table as `cms.plugin.link` (`cmsplugin_link`).

[2012-12-10 13:53] stefanfoulis opened #2 "requires django-cms 2.4 (not released yet)"

[2012-12-10 22:07] stefanfoulis opened #3 "needs permission checks for select2 ajax requests"

[2012-12-10 22:07] stefanfoulis opened #4 "select2 does not work"

[2013-01-12 22:51] Kurdym opened #5 "'render_plugin' fails"
As soon as I try to insert a link, I get this error:

In template E:\.virtualenvs\vcms235\lib\site-packages\djangocms_link\templates\cms\plugins\link.html, error at line 1
Invalid block tag: 'render_plugin', expected 'empty' of 'endfor'
1 	{% load cms_tags %}{% if object.child_plugin_instances %}<span class="plugin_link">{% endif %}<a href="{{ link }}"{% if target %} target="{{ target }}"{% endif

[2014-02-13 17:36] #4 closed, assigned to nobody

[2014-02-13 17:36] #2 closed, assigned to nobody

[2014-02-13 17:36] #1 closed, assigned to nobody

[2014-04-28 09:10] stefanfoulis opened #8 "usage of select2 field should be configurable"
currently the select2 field is automatically used for the page selector if select2 is installed. Otherwise it falls back to using the standard cms page selector widget.

The select2 widget is not really usable if you don't know exactly what page you want to add.
It should use the cms page selector widget by default and have a setting to enable select2 for the edge cases where there are so many pag

[2014-05-25 13:06] johnraz opened #11 "Make use of the PageSmartLinkField from django-cms"
I think we could merge both link and page field in one field in the same fashion we did it for the redirect field in django-cms.

Also this relates to divio/django-cms#2916, as you are using a FK here and we are not in the redirect field...  would be nice to have the same behavior in both.

If you agree, I will try to make this happen in django-cms so we can just inherit from that here.

edit: als

[2014-07-15 22:36] 8ksoft opened #14 "Display link with some custom style"
Could be useful to add some form field choice to add class="myclass" to the HTML included in the in the template. As a use case, suppose do you want to display a link as a Twitter Bootstrap Button, adding class="btn btn-default".

May be this choices, would be configurable via settings, in case you use another CSS framework, or custom css stylesheet. Or just disable this field in case you want the

[2014-08-10 23:27] kodemi opened #17 "No link icon"
django-cms 3.0.3
I have ``GET http://x.x.x.x:8000/static/cms/images/plugins/link.png 404 (NOT FOUND)``

[2014-08-10 23:28] kodemi opened #18 "Why cms page is required?"
I can't create link with only text link. I have to choose cms page. Why?

[2014-09-12 04:41] #18 closed, assigned to nobody

[2014-10-01 14:48] donce opened #23 "Class option"
What do you think about adding class option to the model? We use several different link classes, so option like this is crucial for us - maybe it's worth adding it for everybody? I can make a pull request if you agree.

[2014-11-04 08:53] itbabu opened #31 "Spurious Django 1.7 migration"
Running makemigrations in a 1.7 Django project with python 3 brings an unwanted migration:

[code]
The change is ```verbose_name='email address'```

I think this is due to the ```en``` django.po file:

[code]

[2014-12-11 22:29] leesolway opened #32 "djangocms-ckeditor + djangocms-link"
An ongoing issue with multiple versions, the link plugin does not render within the ckeditor, when editing an existing plugin. No markup representing the link is being rendered into the editor. The issue only seems to exist when editing an existing plugin, it renders fine when adding a new one.

Current versions:
Django==1.6.8
djangocms-text-ckeditor==2.4.1
djangocms-link==1.5
django-cms==3.0.7

S

[2015-01-05 14:46] strindhaug commented on #32
The above suggestion didn't work for me. But I got it to work somehow..
I'm using Django==1.7.1 and djangocms-text-ckeditor==2.4.2, and a "fork" of djangocms-link (e.g. manually copied and modified to add link to a custom article type)

Adding:
TEXT_ADDITIONAL_TAGS = ('img')
to settings.py

and removing icon_src() and get_form() from the my cms plugin worked. It actually displays like a link and n

[2015-02-19 10:10] jedie opened #34 "no such table: cms_page"
If i try to run syncdb, i get this error:
[code]
Think the related code is: **PageSearchField(queryset=Page.objects.drafts()**

[2015-02-20 16:59] galuszkak commented on #34
I faced this issue too. But I'm not sure if #36 is real fix for that.

[2015-02-20 21:07] yakky commented on #34
This is likely due to either early imports of models somewhere or circular imports.
Which django CMS version?

[2015-02-20 21:09] jedie commented on #34
in my case: 3.0.9

[2015-02-20 21:11] yakky commented on #34
any specific application in installed apps? I can't reproduce this

[2015-02-20 21:27] jedie commented on #34
[code]

[2015-02-20 21:41] galuszkak commented on #34
3.0.10 for me.  I bet on early import of models.

[2015-02-24 10:22] galuszkak commented on #34
Hi @yakky . I've created failing example here : https://github.com/galuszkak/djangocmslink_bug

If you have any question I will explain. This example will fail on `./manage.py migrate`

[2015-02-24 10:55] yakky commented on #34
Thanks @galuszkak !
Will look into this

[2015-03-06 20:43] jkirschner42 commented on #34
Hello, I have the same problem. Any news on this?

[2015-03-14 12:53] pakal commented on #34
Same problem, it indeed looks like an early lookup of DB, incompatible with the new django1.7 setup system, here:

  File "/home/pakal/webapps/devs/ENV/lib/python2.7/site-packages/djangocms_link/forms.py", line 12, in LinkForm
    page_link = PageSearchField(queryset=Page.objects.drafts(), label=_("Page"), required=False)

I worked around this by removing djangocms-link from installed apps, sync'i

[2015-03-19 10:36] marksweb commented on #34
I'm getting the same issue here with a brand new project, empty database.

Django 1.7.7 and CMS 3.0.12

Traceback is as @pakal said;

'''bash
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/Users/mwalker/Sites/ENV/lib/python2.7/site-packages/django/core/management/__init__.py", line 385, in execute_from_command_line
    u

[2015-03-28 08:19] yakky commented on #34
@marksweb @galuszkak @pakal @jkirschner42 @jedie  could you check if this branch https://github.com/yakky/djangocms-link/tree/fix_queryset fix the issue?

[2015-03-28 08:47] galuszkak commented on #34
I'm testing now. :)

[2015-03-28 08:56] galuszkak commented on #34
@yakky yes, it fixes the problem. You can merge this :+1: . Thanks!

[2015-04-02 08:23] marksweb opened #38 "Unable to use either of the Page fields to create links to CMS pages"
I've extended `LinkForm` in my own plugin to also provide links to a custom news application but I seem to be having trouble with `page_link`.

If I'm using Select2 then in the the field queryset is not being defined so I'm getting an `AttributeError` from within Django where it tries to do `self.queryset.model` but I am able to search through all my pages in the form. The `get_queryset` on the fi

[2015-04-09 06:51] #34 closed

[2015-04-09 06:59] galuszkak commented on #34
Good job @yakky :)

[2015-04-09 12:26] marksweb opened #39 "page_link field hidden by default when using Select2"
Is there something that you need to do to get the select2 version of `page_link` to display?

If I import the standard CMS page select field it is visible in the form, but if I use Select2 there's a class of 'hidden' added to the field.

I really like the select2 field, so have I missed something glaringly obvious in the settings to get it to display?

[2015-04-20 10:18] arinker commented on #34
Will you release this soon in 1.6?

[2015-05-01 08:40] yakky commented on #39
See https://github.com/divio/djangocms-link#installation: you need to enable and configure django-select2

[2015-05-01 08:40] #39 closed

[2015-05-01 09:11] marksweb commented on #39
I installed it, added it to installed apps, added the URL include and it still didn't show itself. If you removed the hidden class from it, it is there, as a Select2 field working as expected.

But I wasn't going to write specific JS to remove the hidden class.

[2015-05-02 09:36] yakky commented on #39
@marksweb can't reproduce that. which django-select2 version are you using?

[2015-05-04 00:02] marksweb commented on #39
@yakky Annoying, I don't think there's anything special that would effect anything. I've got version 4.2.2 installed, but I can see thats a bit old now.

[2015-06-08 20:45] mkoistinen opened #47 "Need tests!"
This project is too important to not have tests.

[2015-06-08 21:33] yakky commented on #47
Agree!!! :)

[2015-06-11 00:20] pa-jama opened #52 "change migrations to standard location"
In the readme:
"when django CMS 3.1 will be released, migrations for Django 1.7 will be moved to the standard location "

Same with other plugins like djangocms-picture djangocms-file etc

[2015-06-11 09:55] darioalbanesi opened #53 "Phone links"
I'm getting several HTML Validation errors on certain pages due to a double-slash generated in front of every phone-link.

```<a href="tel://+41 44 123 45 67">+41 44 123 45 67</a>```

Does anyone know why this has been setup like that?
https://github.com/divio/djangocms-link/blame/master/djangocms_link/models.py#L54

As per W3C it should be without slashes.
http://www.w3.org/TR/mwabp/#bp-interacti

[2015-06-19 05:52] saeedsq commented on #52
Django CMS 3.1.0 is released. Would you move the migrations to the standard location please?
https://pypi.python.org/pypi/django-cms/3.1.0

[2015-06-19 06:05] saeedsq opened #54 "Unwanted migration with django 1.7"
Python 2.7.8
Django 1.7.8
Django CMS 3.1.0
djangocms-link 1.6.2

Running makemigrations creates unwanted migration for djangocms_link:

class Migration(migrations.Migration):

    dependencies = [
        ('djangocms_link', '0003_auto_20150212_1310'),
    ]

    operations = [
        migrations.AlterField(
            model_name='link',
            name='anchor',
            field=models.CharFiel

[2015-06-19 19:58] chriswedgwood opened #55 "_get_media in forms.py pulling in select2 css files intermittently"
When I start my server and open I use django-cms link with select2 the page field displays correctly.
When I save and then re-open the page field is displayed weirdly because the CSS files arent being loaded by _get_media

Anyone else getting this behaviour?

pip freeze:
https://gist.github.com/chriswedgwood/ff0d2d66fb413d66fbfe

console output:
https://gist.github.com/chriswedgwood/0b7521a8f2829e

[2015-06-27 13:51] imikael21 commented on #55
Yes, I get the same behaviour, with the same versions of Django, Django-CMS and djangocms-link.

[2015-06-27 17:07] yakky commented on #55
@imikael21 which version of Django-select2 is installed?

[2015-06-27 17:44] imikael21 commented on #55
@yakky Django-Select2==4.3.1

[2015-06-27 19:52] yakky commented on #55
@imikael21 does 4.2.2 behaves any different?

[2015-06-27 21:15] imikael21 commented on #55
@yakky strangely with django-select2 4.2.2, the page field does not appear at all...
Another hint : switching back to version 4.3.1, the page field shows correctly the first time I try to edit a link in a text plugin

![image](https://cloud.githubusercontent.com/assets/6333379/8393860/0fe26f82-1d22-11e5-8455-84cc99391c45.png)

But once the editing window has been closed, I get the same weird displ

[2015-06-28 11:26] yakky commented on #55
I suspect some issue with django-select2, then

[2015-07-05 15:05] lswest opened #56 "pip install djangocms-link fails on Ubuntu 14.04 with python 3.4.0 and Django 1.8"
I'm setting up a Django-CMS instance on a Digital Ocean Ubuntu 14.04 VPS.  I've installed Python 3.4.0, Django 1.8 and used a requirements.txt file to install the packages from my testing area.  However, of the list, only djangocms-link fails to build and install.  The error is as follows:

    Collecting djangocms-link
    Downloading djangocms-link-1.6.2.tar.gz
    Complete output from command p

[2015-07-08 09:59] saeedsq opened #58 "Move migration files from migrations_django to its original place"
According to django 1.7 inclusion of migration module:
Please change
1) migrations_django to migrations
2) migrations to south_migrations

[2015-07-14 19:44] chriswedgwood commented on #55
I installed latest version of Select2 and it works now so next release will see this behaviour disappear

[2015-07-15 12:58] marksweb opened #59 "Issue or browser/OS behaviour when editing a link?"
I've just had an issue raised with regard to editing an existing link in the editor.

If you double click on a link & the link dialog opens with only a part/word of the link selected, when you hit OK and save the link, it replaces the selected part of the link only. I'm not sure if that's easy to understand, so let me explain; if you have a link called `click here` and double click to edit it in t

[2015-07-15 13:54] ChristianKleineidam commented on #56
I can reproduce the error on Ubuntu 14.04 VPS with Python 3.4.0 and Django 1.8:

    pip install djangocms-link
    Collecting djangocms-link
      Using cached djangocms-link-1.6.2.tar.gz
        Complete output from command python setup.py egg_info:
        Traceback (most recent call last):
          File "<string>", line 20, in <module>
          File "/tmp/pip-build-pxwr25_g/djangocms-link/se

[2015-07-15 14:13] lswest commented on #56
I just tried this again on the original server (after having done any pending updates).  Now version 1.6.2 installed without issue (using Ubuntu 14.04, Django 1.8.2, and Python 3.4.0).  See if you have any pending updates with ``sudo apt-get update && sudo apt-get upgrade``.

[2015-07-15 14:24] ChristianKleineidam commented on #56
Unfortunately running `sudo apt-get update && sudo apt-get upgrade` doesn't help in my case.

[2015-07-15 14:27] lswest commented on #56
Have you tried checking for updates to pip's installed packages?  You can update them all using ``pip freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U``(taken from [here](http://stackoverflow.com/questions/2720014/upgrading-all-packages-with-pip))

If that doesn't help, then I'm out of ideas.  I'll leave the issue open, in the hopes that someone might know more.

[2015-07-15 14:34] ChristianKleineidam commented on #56
Thanks, but it doesn't help.

[2015-07-22 20:01] jsma commented on #54
There is a pull request to fix this #57. The migration is necessary, just need it included in the next version of djangocms-link so it doesn't trigger the migrations auto detector in our own projects.

[2015-07-24 01:13] jsma commented on #59
There is a similar issue reported for [cmsplugin-filer link plugin](https://github.com/stefanfoulis/cmsplugin-filer/issues/179). I've experienced this as well, have not had a chance to debug. Might need to rethink requiring a double click on the linked text as the UI...works fine for initial creation but attempts to edit are a pain for exactly the reasons you mention. Perhaps something similar to

[2015-07-25 08:42] yakky commented on #54
Fixed by #57

[2015-07-25 08:42] #54 closed

[2015-07-25 09:51] yakky commented on #55
Fixed in django-select2

[2015-07-25 09:51] #55 closed

[2015-07-26 16:31] ojii opened #61 "no wheel for Python 3"
djangocms-link 1.6.2 is missing a wheel for Python 3 on PyPI.

[2015-07-26 16:56] vmonteco commented on #56
I have the same problem but when I try to build a docker image from archlinux.

[2015-07-26 17:20] vmonteco commented on #56
I finally managed to fix it :
I made a fork and just added something the *setup.py* file to be sure to make it read the file by using utf-8, just as someone suggested me on IRC :

        long_description=open("README.rst", 'r', encoding="utf-8").read(),

https://github.com/vmonteco/djangocms-link/blob/master/setup.py

Is it possible to submit this change?
You can try to use the fork I made in the

[2015-07-30 07:29] nick-ernie opened #63 "Phone field restrictions"
Hello.

Right now plugin have no restriction to the phone field, i think it will be great if phone links content will limited by digits and "+"/"-" chars and whitespaces .

Thanks.

[2015-08-17 15:01] louis-haddrell commented on #56
Still having this issue. Pull request fixes it.

Any chance of this getting merged sometime soon?

[2015-08-22 08:59] fygul commented on #56
On my Windows 8.1, Python 3.4

There is a unicode space {U+00A0} at line 50 of README.rst:

[2015-09-09 06:25] yakky commented on #56
Fixed by #64
Thanks to all that contributed to solve this

[2015-09-09 06:25] #56 closed

[2015-09-11 20:29] #52 closed

[2015-09-11 20:29] #58 closed

[2015-09-28 05:10] yakky commented on #63
@nick-ernie phone numbers format greatly varies across countries and as such can be quite complicated to come up with a comprehensive validation

[2015-09-28 05:11] yakky commented on #47
Fixed by #66

[2015-09-28 05:11] #47 closed

[2015-09-28 05:12] yakky commented on #31
Fixed by #67

[2015-09-28 05:12] #31 closed

[2015-09-28 12:06] #53 closed

[2015-10-12 17:15] yakky commented on #61
Fixed by 1.7.0

[2015-10-12 17:15] #61 closed

[2015-10-14 21:54] mkoistinen opened #76 "Select2 v5+ is _not_ Django 1.6 compatible"
Which means right now, this plugin will break Django 1.6 installs.

[2015-10-15 03:37] yakky commented on #76
Closed by #77

[2015-10-15 03:37] #76 closed

[2015-10-15 03:39] yakky opened #78 "Add support for django-select2 5.0+"
django-select2 5.0+ is a complete rewrite. This plugin is currently not compatible with it, but we need to make it compatible as it will be needed to support future Django versions

[2016-02-25 19:24] greenstatic commented on #23
+1

[2016-02-25 19:50] mkoistinen commented on #23
I typically avoid this by enclosing it in a Style tag. (aldryn-style, or djangocms-style). Won't this solve it for you?

[2016-02-25 21:00] greenstatic commented on #23
@mkoistinen as dirty solution i just wrapped the placeholder in a <span> tag and added my class there. But i suppose your method would work as well :)

[2016-02-25 21:22] #23 closed

[2016-04-15 12:26] thnee commented on #32
Removing `icon_src` and `icon_alt` from my (extension of) the `LinkPlugin` solved the issue for me. Not sure exactly what the intentions were in the design here, but this seems like an acceptable solution for now.

[2016-05-20 15:47] macolo opened #83 "'name' should be optional"
Currently it seems to be impossible to wrap this link element around another plugin (i.e. image) without having to specify an anchor text for the link plugin.

This behaviour makes it difficult to use it together with other plugins. I suggest making the 'name' field optional.

[2016-05-25 20:11] furiousdave opened #84 "Adding a style field to the link plugin?"
An option I frequently use on sites where we have cmsplugin-filer installed is the ability to define a list of classes for use in a dropdown in the link plugin form. On sites where we use djangocms-link, I often find myself wishing the same feature was available. Would be a pretty simple addition if you think it makes sense to port over. https://github.com/divio/cmsplugin-filer/blob/develop/cmsplu

[2016-08-31 16:02] FinalAngel commented on #84
Sorry for the late reply, but we'll be having a look at this shortly!

[2016-08-31 16:02] FinalAngel commented on #83
Sorry for the late reply, but we'll be having a look at this shortly!

[2016-08-31 16:02] FinalAngel commented on #78
Will do :)

[2016-08-31 16:06] FinalAngel commented on #63
@yakky though we could add trimming to the CharField to remove at least the spaces? I could also add some very simple validation so only digits and +/-/() are allowed?

[2016-08-31 16:08] FinalAngel commented on #59
We did some fixes recently to ckeditor @jsma and @marksweb. was the problem resolved for you?

[2016-08-31 16:12] #32 closed

[2016-08-31 16:12] #17 closed

[2016-08-31 16:13] FinalAngel commented on #14
Will be adding this soon through djangocms-attributes-field :)

[2016-08-31 16:14] FinalAngel commented on #11
There are new facilities now available. I'll be looking at this shortly and check our options.

[2016-08-31 16:15] FinalAngel commented on #8
👍 will try to figure it out and make it optional through a setting

[2016-08-31 16:15] FinalAngel commented on #5
Please update to at least Django 1.6+. New version will be Django < 1.8 compatible

[2016-08-31 16:15] #5 closed

[2016-08-31 16:16] FinalAngel commented on #3
gonna make it optional

[2016-08-31 16:16] #3 closed

[2016-08-31 21:17] marksweb commented on #59
Thanks @FinalAngel. Unfortunately I've been moved off CMS projects for a while, but I'll try to find time to look at that. I bet we won't be able to update at the moment though as most sites are running old versions of CMS 3.1.x

[2016-08-31 21:29] jsma commented on #59
The recent updates do seem to solve these issue.

[2016-09-02 05:10] #59 closed

[2016-09-10 13:09] FinalAngel commented on #84
added in https://github.com/divio/djangocms-link/pull/94

[2016-09-10 13:09] #84 closed

[2016-09-10 13:09] FinalAngel commented on #83
done in https://github.com/divio/djangocms-link/pull/94

[2016-09-10 13:09] #83 closed

[2016-09-10 13:09] FinalAngel commented on #14
added in https://github.com/divio/djangocms-link/pull/94

[2016-09-10 13:09] #14 closed

[2016-09-10 13:09] FinalAngel commented on #8
now available: https://github.com/divio/djangocms-link/pull/94

[2016-09-10 13:09] #8 closed

[2016-09-10 13:14] #63 closed

[2016-09-10 13:15] FinalAngel commented on #11
closing as the related cms issues has also been closed. @johnraz if you add the facilities in django-cms, I'll incorporate in here

[2016-09-10 13:16] #11 closed

[2016-09-10 13:16] FinalAngel commented on #78
actually would need help for that integration, on hold until someone can help out.

[2016-09-18 01:47] stefanfoulis opened #97 "Integrity errors due to missing data migration"
https://github.com/divio/djangocms-link/blob/master/djangocms_link/migrations/0010_adapted_fields.py
removes the ``null=True`` on some fields, but it does not change any existing fields with ``NULL`` in them to an empty string.

This can cause ``django.db.utils.IntegrityError: column "mailto" contains null values``.

[2016-09-19 07:20] stefanfoulis commented on #97
same problem for the other fields where ``null=True`` was removed.

[2016-09-29 19:56] jsma opened #101 "Release notes should mention backwards incompatible changes"
There was recently a migration to rename fields on the Link model, this should be documented in the release notes since anyone who interacted directly with `Link` objects likely has broken code now.

Also, the path for the default template was changed, so any template overrides will be ignored after updating to 2.0.*.

Finally, several variables were removed from the context when rendering the tem

[2016-10-13 21:14] czpython commented on #101
@FinalAngel Can you update the changelog for 2.0.0 accordingly?

[2016-10-13 21:15] czpython commented on #97
Fixed by 19d13cbcae2dfadc4bcdccd8b454b36ac2366e24

[2016-10-13 21:15] #97 closed

[2016-10-14 06:47] FinalAngel commented on #101
Yep will do

[2016-10-24 06:38] #101 closed

[2016-11-22 21:00] FinalAngel commented on #78
@yakky would you be able to add this?

[2016-12-03 15:46] gkmngrgn commented on #78
hello everybody! @yakky did you make anything about this issue? Can you review my pull request? What do you think?

[2016-12-11 14:07] sephii opened #107 "Exception is raised when copying internal links between languages"
If you create a link to a page in a language (eg. `de`) and your user has a different defined user language (by going to /admin/cms/usersettings/ and setting it eg. to `en`), you then  get the following exception, because apparently `get_language()` then returns the user language instead of the current page language.

The same happens if a page in a given language contains a link plugin pointing t

[2016-12-12 08:31] FinalAngel commented on #107
@sephii would you be able to fix it and open up a pull request?

[2016-12-12 08:43] FinalAngel commented on #107
related to https://github.com/divio/django-cms/pull/5801

[2016-12-12 08:49] sephii commented on #107
This is not related to https://github.com/divio/django-cms/pull/5801. The issue I described here doesn't happen in the admin but on the frontend editing, because in the Structure mode the plugins are rendered using the user language (which can then use an untranslated version of the page).

[2016-12-12 08:50] FinalAngel commented on #107
sorry for the confusion here @sephii :)

[2016-12-13 11:44] FinalAngel commented on #107
Closing as it will be implemented directly into django CMS

[2016-12-13 11:44] #107 closed

[2016-12-21 12:18] #78 closed

[2017-01-21 12:17] FREImedia opened #115 "Cannot create new link instance anymore"
Hey,

after upgrading to Django 1.10.5 (from 1.9) I'm not able to create a Link widtget within the editor anymore.
I already tried to make and apply migrations which did not solve the problem.

Here is the error message I find in the logs:
[code]

Edit:
I have installed django-cms link via pip:
Django==1.10.5
django-cms==3.4.1
djangocms-link==2.1.0
...

Have you any idea how I can make it work aga

[2017-01-23 08:51] FinalAngel commented on #115
@haricot will update here once djangocms-link has been released with the patch

[2017-01-26 10:31] jsma opened #118 "django-select2 issues"
I just enabled django-select2 per the README and I've encountered a few issues.

For example, I have a CMS page with a link to the home page that was created with the default select widgets, not django-select2.

<img width="337" alt="screen shot 2017-01-26 at 2 25 09 am" src="https://cloud.githubusercontent.com/assets/24574/22328056/1e64b410-e36f-11e6-87ae-017cd1ec9247.png">

Next I set `DJANGOCMS

[2017-01-26 12:10] FinalAngel commented on #118
@jsma thank you for the report, Is there any way you could open a PR with the fix? I'll most likely won't get to it till next week.

[2017-02-20 18:46] FREImedia commented on #115
@haricot Can you already tell me when the patch will be released? :-)

[2017-02-22 09:26] FinalAngel commented on #115
@FREImedia sadly not, I'll add it to my tasklist for next week and let you know

[2017-03-02 08:51] FinalAngel commented on #118
@jsma sadly have no useful update here, I can reproduce and know the issue is somewhere in https://github.com/divio/djangocms-link/blob/master/djangocms_link/models.py#L148 I'll check with @czpython as I'd like to release it today.

[2017-03-02 17:01] jsma commented on #118
Thanks for checking into this! I have not had time to troubleshoot further, so ended up disabling django-select2 for now.

[2017-03-03 01:18] #118 closed

[2017-03-03 08:09] FinalAngel commented on #115
released :)

[2017-03-03 08:09] #115 closed

[2017-03-03 11:52] FREImedia commented on #115
I just upgraded to version 2.1.1 but its still not fixed :-(
[code]

[2017-03-03 14:35] SteinRobert commented on #107
Why are you rejecting a bugfix when it is not implemented in django CMS yet? It seems that this plugin is still actively maintained, or is it already deprecated?

[2017-03-03 16:22] haricot commented on #107
I think it was my fault, I sent a first PR for this project for django 1.10, but I did not do it right, so I rephrased it but I forgot a part of it.
It may be necessary to propose a PR to integrate live tests with Travis.

[2017-03-06 07:54] FinalAngel commented on #107
@SteinRobert I'm closing it here as it should be tracked on the django CMS issues itself.

[2017-03-14 14:49] stefanfoulis opened #121 "Internal Link to Page on another Site"
In a multisite setup an internal link may need to contain the domain to be valid. Currently this is not the case.

https://github.com/divio/djangocms-link/blob/2.1.1/djangocms_link/models.py#L134

It is unclear how to cleanly fix this. If we need to include the domain in the link it means we have to know stuff about the protocol (``http`` vs ``https``). In the example below I've chosen to use the

[2017-03-14 15:50] stefanfoulis commented on #121
@FinalAngel it is not an edge case. This is a problem with all multisite projects. In the UI you can choose the other site (-> other domain) to pick the link to a cms page. But that information never gets used as part of the link.

[2017-03-15 09:23] FinalAngel commented on #121
@stefanfoulis thank you, would you be able to propose a pull request?

[2017-03-23 11:18] marksweb opened #122 "No selectable pages"
I've got a really strange problem with an EC2 server. There are no selectable pages in the drop down :(

Running locally, connected to the same db, I get selectable pages. Also on a virtual server for development I can get a choice of pages, the database here is based on the same database and running the same code as the EC2 server.

I've also got a custom plugin which provides internal page links

[2017-03-24 08:43] FinalAngel commented on #122
@marksweb I've never heard or seen such an issue, maybe @divio/django-cms-core has an idea? Otherwise we could help debug through the [Expert Help](https://www.divio.com/en/expert)

[2017-03-24 09:17] stefanfoulis commented on #122
@marksweb I think the dropdown only shows published pages. So maybe none of
your pages have been published yet?

On Fri, Mar 24, 2017 at 9:43 AM, Angelo Dini <notifications@github.com>
wrote:

[2017-03-24 10:07] FinalAngel commented on #121
also needs to be incorporated in https://github.com/aldryn/aldryn-bootstrap3/issues/143

[2017-03-26 21:49] marksweb commented on #122
Pages are all published. I've even been over everything & even switched the queryset to pull in drafts and public pages & it just won't load anything.

Really bizarre.

[2017-03-27 11:03] czpython commented on #122
@marksweb can you try with the console open? Maybe there's something there.

[2017-03-27 22:48] marksweb commented on #122
@czpython Now that seemed too simple, but looks like there's a problem!

<img width="1427" alt="screen shot 2017-03-27 at 23 41 53" src="https://cloud.githubusercontent.com/assets/1461191/24381280/68d26828-1347-11e7-875f-7e48ab61a3dd.png">

Looks like there's something funny going on with static paths.

The project is a duplicate of a Django 1.8.9 & CMS 3.1.7 project, then updated through to Djang

[2017-03-29 17:55] #121 closed

[2017-03-30 06:35] FinalAngel commented on #122
@marksweb the reason why the pages don't show up is that javascript initialisation fails. It seems very likely that there are some issues in the staticfile setup. It also says forbidden and not "not found". Very likely not an issue on djangocms-link itself.

[2017-03-31 04:47] marksweb commented on #122
@FinalAngel Yeah the 403 is from S3 so effectively a 404, but I get that it's a static setup issue. It's just terribly annoying because the only difference between the server where it works, and where it doesn't is HTTPS where it doesn't, and a different sub bucket. Hopefully I'll figure it out soon!

[2017-04-11 10:09] marksweb commented on #122
@FinalAngel How does `bundle.admin.widget.min.js` get added to the DOM? I can only see where the page select JS is declared in the widget class and can't see a problem with the `Media` classes declared at that point.

But there must be a comma missing somewhere in order for the two paths not to be separate. The below is what I get with `DEBUG = False`, but in debug mode they render as two separate

[2017-04-11 17:01] vxsx commented on #122
This looks like a bug in the django cms core.
The bundle is injected with webpack and to determine the url this is used https://github.com/divio/django-cms/blob/release/3.4.x/cms/static/cms/js/modules/get-dist-path.js#L2

Temporary workaround would be to disable hashing so the bundle names wouldn't be rewritten.
Also it would be great if you could reopen this on django-cms repo

[2017-04-12 07:49] #122 closed

[2017-04-13 03:24] tgckpg opened #124 "Exception in Django 1.11"
## Scope
`flatatt` seemed to be removed from `django.form.widgets` in this version.
## Proposed fix
change
`from django.forms.widgets import flatatt`
to
`from django.forms.utils import flatatt`

## Traceback
[code]

[2017-05-03 07:32] FinalAngel commented on #124
Closing this here as its relevant to djangocms-attributes-field

[2017-05-03 07:32] #124 closed

[2017-05-24 09:55] adrien-delhorme opened #127 "DJANGOCMS_LINK_INTRANET_HOSTNAME_PATTERN does not work"
I can't make `INTRANET_HOSTNAME_PATTERN` work.
I tried to setup `mycustomhostname` as custom pattern but when the validator is executed the regex does not contain `mycustomhostname`.

Am I missing something?

[2017-05-24 10:04] adrien-delhorme opened #128 "How to handle non CMS internal links"
I need to make a link to an internal page, that is not managed in the CMS (eg: an aldryn newsblog article).
The `external_link` field requires me to add a domain name at the beginning of my link, but I would prefer to have my links starting at `/` (eg: `/my-page/` instead of `http://mydomain.com/my-page/`).

Is it possible to manage this with DJANGOCMS_LINK_INTRANET_HOSTNAME_PATTERN?

[2017-05-24 11:32] jrief commented on #128
As far as I know, you have to create your own plugin in order to do this.

This, btw. was one of the reasons I added an alternative link plugin to djangocms-cascade. There you can extend the link plugin and allow targets other than CMS pages, for instance your own Django models providing their own ``get_absolute_url()`` method.

[2017-05-29 07:13] FinalAngel commented on #128
@adrien-delhorme thanks for the info, I've encountered this issues some times myself, the external_link is a regular Django URL field. We could eventually extend or allow internal link to accept these values.

It is not possible atm though, any change you might propose a PR?

[2017-05-29 07:14] FinalAngel commented on #127
@adrien-delhorme would you be able to post us your configuration / setup to debug?

[2017-06-28 10:26] adrien-delhorme commented on #127
[code]

I tried to submit a form with `External link: http://whatever/page/`, but there is an error `Enter a valid URL`. Same thing if I keep the default value for HOSTNAME_PATTERN.

It seems that the `IntranetURLValidator` is never called but the `URLValidator` is (I tried to define a `__call__` method inside `IntranetURLValidator`).

[2017-06-28 13:53] adrien-delhorme commented on #127
The problem is:
`URLField` has a `default_validators` attribute. Initializing the field with `validators` attribute does not override but append a validator to the default validators list. So whatever the `IntranetURLValidator` does, it is not called because the default `URLValidator` fails first.
I made a pull request #130 to fix that.

[2017-06-28 14:05] adrien-delhorme commented on #128
`IntranetURLValidator` inherit from `URLValidator` which requires the URL to have a scheme (http, https, ...).
To allow internal URLs, starting at the root `/`, we need to overwrite all the `__call__` method just to avoid the scheme validation.
Does it sound a good solution to you?

[2017-07-28 14:59] digiology opened #131 "Internal links to published pages"
Hello,

I notice that the drop-down for internal links only shows draft pages. Why is that? Shouldn't it be possible to add a link to a page that has already been published?

Ross

[2017-07-31 09:24] digiology commented on #131
Actually, the dropdown shows nothing for me even when I set `self.fields['internal_link'].queryset` in the form. But there is another dropbox id_internal_link_2 which is hidden (display:None) that contains all the pages.

[2017-07-31 13:26] stefanfoulis opened #132 "djangocms-link not setup properly in default Addon setup"
originally reported by @digiology in divio/django-cms#6032

### Summary

The default divio project has djangocms-link's LinkPlugin installed. However the settings file is missing `DJANGOCMS_LINK_USE_SELECT2 = True` which results in the Internal Link dropdown being empty without any errors or explanation.

#### Environment

* Python version: 2.7.13
* Django version: 1.8.18.1
* django CMS version: 3

[2017-08-07 11:00] czpython commented on #132
I think select2 is not the problem here.
When `DJANGOCMS_LINK_USE_SELECT2` is set to False (the default), we use django's standard <select> widget. Setting `DJANGOCMS_LINK_USE_SELECT2` to True seems to fix the problem because a different widget is used but the real issue is with the default. On the cloud this setting is not set because of backwards incompatibility issues with select2 versions (if

[2017-08-09 08:29] vxsx commented on #132
This ticket doesn't state this, but the problem is in IE11, and https://github.com/divio/django-cms/pull/6041 is a bugfix for this (will backport to 3.4.x soon)

[2017-08-09 09:28] vxsx commented on #132
https://github.com/divio/django-cms/pull/6042 backport

[2017-08-17 12:27] FinalAngel commented on #131
hello @digiology what browser are you using. It might be related to https://github.com/divio/django-cms/pull/6042

[2017-08-18 18:33] #132 closed

[2017-09-08 09:09] jedie opened #133 "Not possible to use AbstractLink as associated link in own CMSPlugin"
I would like to do something like this:
[code]

This doesn't work and raise into a error like this:
[code]
This raised in `django.forms.models._get_foreign_key()` with local variables like:
[code]

The problem is IMHO that `djangocms_link.models.AbstractLink` inherit from `CMSPlugin`

Any idea how to handle this?

Think there should be a Base-Link-class that inherit only from `models.Model` ?!?

[2017-09-12 14:06] jedie opened #135 "AttributeError: 'Instance' object has no attribute 'page'"
The **get_link()** method access **self.page** if internal link is used:

[code]
There is a warning in **CMSPlugin()**:
[code]
In my case i get a **AttributeError: 'Instance' object has no attribute 'page'**

[2017-10-04 07:00] fp4code opened #137 "Found no way to edit link when display name was forgotten"
In a CKEditor Text Plugin, if a Link is created leaving blank the display name entry, there is no way to edit it. I see three solutions
- add documentation if there is a way to edit the link!
- add something like _missing display name_ if the field is blank
- authorize link editing in page structure

[2017-12-17 15:44] czpython commented on #131
This is a design decision.
All apps using `PageField` will get draft only versions.
A page is always guaranteed to have a draft version but not always a public version, if we were to link to a public version then it would not be possible to properly prepare pages before publishing.

[2017-12-17 15:44] #131 closed

[2017-12-17 15:47] czpython commented on #135
An `AttributeError` in this case means that your plugin might not be correctly inheriting from `CMSPlugin`. That warning can be ignored but the attribute should always be there.

Indirectly fixed by https://github.com/divio/djangocms-link/pull/136

[2017-12-17 15:47] #135 closed

[2017-12-21 08:56] jedie commented on #133
Hm. #136 will really fix this issues ?!?

[2017-12-21 10:29] jedie opened #138 "Tests are broken and outdated..."
The tests are broken because of:
[code]
see: https://travis-ci.org/divio/djangocms-link/builds/317713548

And the test matrix is IMHO out of date:
[code]
django 1.9 should be changed to 1.11
Django CMS 3.3 not needed
Python 3.5 is missing

isn't it?

[2018-01-18 10:32] petrklus opened #139 "select2 updates to v6"
I've noticed that select2 updates to version 6 - which is not Django 1.8 compatible anymore.

[2018-01-30 09:40] jedie opened #140 "Allow optional link"
I have made a CMS Plugin that inherit from **AbstractLink** but the link should be optional.

I looked into `djangocms_link.models.BaseLink.clean()` and think this is not possible, because of:
[code]

[2018-01-30 09:46] jedie commented on #140
What's about a solution like https://github.com/jedie/djangocms-link/commit/f0a8ea04c37440a1c804500f92aff0b7e75a9b28 ?!?

[2018-01-30 12:20] czpython commented on #133
@jedie
I don't see a use-case for creating another abstract class. We don't want to support "generic link objects". The idea behind the abstract class is to support other fields for the link plugin.
In general is not a good idea to create a model with a direct fk to a plugin, considering the draft/live states.

[2018-02-16 13:33] jedie opened #144 "migration from "cmsplugin_filer_link""
djangocms-link is the successor of cmsplugin_filer_link

As requested in https://github.com/divio/django-cms/issues/6198#issuecomment-362598714 : Is there any guide on how to migration from "cmsplugin_filer_link" to "djangocms-link" ?

[2018-04-19 09:54] wfehr opened #146 ""site_id" warning for future cms-version 3.6"
Currently getting a warning from django-cms (cms version 3.5.2):

  if ref_page.site_id != getattr(self.page, 'site_id', None):
/usr/local/lib/python3.6/site-packages/djangocms_link/models.py:138: DontUsePageAttributeWarning: Don't use the page attribute on CMSPlugins! CMSPlugins are not guaranteed to have a page associated with them!
  if ref_page.site_id != getattr(self.page, 'site_id', None):
/

[2018-09-27 18:29] afs2015 commented on #146
I am also getting this warning as well (cms version 3.5.2):

[code]

[2018-10-18 13:45] marksweb commented on #146
It looks like this issue was fixed in Dec 2017 here;

https://github.com/divio/djangocms-link/commit/338c6fc21979dc55f951921aba01b66285919af2

Is there likely to be a release of this fix?

[2018-10-18 14:26] chitak opened #147 "Unable to override template"
I have copied the folder to my template folder but I am unable to override the template.
I am trying to editing the link.html and select my template from djangocms, but it does not have any effect, it seems to me it always render the 'default' template.

settings.py

I don't know what goes wrong, can anyone here help?

Thanks

[2018-11-23 09:11] joeljv91 opened #154 "'NoneType' object has no attribute 'node'"
Hi,

I updated djangocms-link from version 2.1.2 to 2.2.1 and I get this error when I enter to some page I get this error:

<img width="1427" alt="screenshot 2018-11-23 at 10 08 08" src="https://user-images.githubusercontent.com/7562185/48935358-c1cc4780-ef07-11e8-84e2-f4aabe80c317.png">

I need to migrate any data which affect to this update?

I'm using DjangoCMS 3.5.3 and this plugin djangocms-b

[2018-11-23 09:17] joeljv91 commented on #154
it does not matter I just saw the pull request:

https://github.com/divio/djangocms-link/pull/153

[2018-11-28 18:03] syntaxhr opened #156 "Translations/transifex"
Hello, I could easily translate the plugin for Croatian, Bosnian, Serbian and Italian languages but transifex says that you exceeded the subscription and the files are no more editable.
Let me know if I can help and how.

[2018-11-29 09:44] FinalAngel commented on #156
@syntaxhr would you be able to create screenshot or a video capturing the issue you are experiencing so we could investigate or eventually call their support? On the account itself I see no restrictions.

[2018-12-07 14:56] FinalAngel commented on #139
@petrklus we're also not supporting 1.8 anymore, only >=1.11, you'd have to manually pin it in your requirements.

[2018-12-07 14:56] #139 closed

[2018-12-07 14:57] FinalAngel commented on #144
Sadly not, but we welcome any PR to add a migration path or management script.

[2018-12-07 15:34] FinalAngel commented on #137
With django CMS 3.4+ you can use the structure mode to edit the link. Alternatively you may want to adapt the template itself to show a (missing display name) text. I do not think this is necessary to document but I'm happy to review a PR :)

[2018-12-07 15:34] #137 closed

[2018-12-07 15:39] FinalAngel commented on #147
I just tested with a sample app and the settings you added:

``/templates/djangocms_link/mybutton/link.html``

It worked perfectly. You may need to look into your templates dirs settings configuration. Mine looked like this:

[code]

[2018-12-07 15:39] #147 closed

[2018-12-07 15:41] FinalAngel commented on #154
@joeljv91 has the issue been resolved for you using 2.2.2?

[2018-12-07 15:41] #156 closed

[2018-12-07 15:52] fsbraun commented on #154
**It does for me**, however, would it make sense to also replace ``ref_page.site_id`` by ``ref_page_site_id`` in [line 151](https://github.com/vThaian/djangocms-link/blob/5c8237c4e6edfb9d1b42a5120b78dbfdda46c762/djangocms_link/models.py#L151) of ``models.py``after going through the hassle of detecting the node to get the site id?

[2018-12-10 08:32] FinalAngel commented on #154
@fsbraun I'll have a look :)

[2018-12-11 14:38] #154 closed

[2018-12-12 15:40] mogoh opened #161 "Having no corresponding entrie in cms_page_placeholders results in AttributeError"
I am trying to migrate date from the old cmsplugin_filer_link to the newer djangocms-link. Now for some unknown reason some database entries have no page-placeholders-relation entries. I am not sure why and if this is a bug so maybe my database needs to be fixed, too. (Does this needs to be fixed?)

But those missing entries creats some `AttributeError: 'NoneType' object has no attribute 'node'` e

[2018-12-13 07:01] vThaian commented on #161
Hello, @mogoh. Do you using 2.2.0 version, right? Please upgrade your djangocms-link to the newest version `2.2.2`. Problem with `AttributeError: 'NoneType' object has no attribute 'node'` was resolved there.

[2018-12-13 15:32] mogoh commented on #161
Yes, almost. I used 2.2.1. I updated and the problem went away. I can't believe, that I stumbled upon this bug right in the 10-day-time-window when it got fixed. Thanks. 😄

[2018-12-13 15:32] #161 closed

[2018-12-15 18:45] masaruduy opened #163 "Link doesn't appear in the plugins list"
![screen shot 2018-12-15 at 1 42 02 pm](https://user-images.githubusercontent.com/7341054/50046288-5ccfc180-006f-11e9-9f50-97f272a26352.png)

'djangocms_link', is Included INSTALLED_APPS

The 'normal' Link plugin doesn't appear on the plugins list even though the BS4 one shows up:
![screen shot 2018-12-15 at 1 45 14 pm](https://user-images.githubusercontent.com/7341054/50046320-b2a46980-006f-11e9-

[2018-12-18 07:52] FinalAngel commented on #163
@masaruduy the Link plugin is removed by Bootstrap 4:
https://github.com/divio/djangocms-bootstrap4/blob/master/djangocms_bootstrap4/contrib/bootstrap4_link/cms_plugins.py#L83

[2018-12-18 07:52] #163 closed

[2019-01-18 10:51] jasper-flux opened #165 "Internal link gives different URL in placeholder vs static placeholder"
The URL generated for internal links to the current site differs depending on whether the plugin is located in a static placeholder or a regular placeholder.

In a regular placeholder, a link in the format `/<slug>` is generated.
In a static placeholder, a link in the format `//example.com/<slug>` is generated.

I'd say that the behaviour should be the same for both cases.

My (probably naïve) sug

[2019-03-13 14:57] FabriceSalvaire opened #167 "LinkPlugin is silently unregistered by bootstrap4_link"
I am trying to upgrade to Django CMS v3.6.

Despite I have `djangocms_link` in **INSTALLED_APPS**, `cms check` reports

` - LinkPlugin has instances but is no longer installed [ERROR]`

[2019-03-14 07:47] vThaian commented on #167
Could you please @FabriceSalvaire paste more details? From which version are you trying to migrate? Which Django version are you using? Could you paste your traceback?
150/5000

[2019-03-19 00:36] FabriceSalvaire commented on #167
After investigation (put print statements in cms code) I discovered that `djangocms_bootstrap4.contrib.bootstrap4_link` unregister `djangocms_link.cms_plugins.LinkPlugin` which breaks my cms

[2019-04-16 13:42] FinalAngel commented on #167
@FabriceSalvaire it is intended behaviour to unregister djangocms-link when using djangocms-bootstrap4. Alternatively you can use bootstrap4 but without the link implementation?

[2019-05-02 16:37] DmytroLitvinov opened #169 "Misunderstanding between README and CHANGELOG"
Hi there,

According to [CHANGELOG](https://github.com/divio/djangocms-link/blob/master/CHANGELOG.rst#240-2019-04-16) in version 2.4.0 support for Django<2 was dropped, but it still is used in [tests(CI)](https://github.com/divio/djangocms-link/blob/master/tox.ini#L2), it is written as [classifiers for PyPi](https://github.com/divio/djangocms-link/blob/master/setup.py#L29).

If you need help with

[2019-06-19 13:23] FinalAngel commented on #169
@DmytroLitvinov we only removed support for Django 2.0 as it is not officially supported anymore. 1.11 is still supported :)

[2019-06-19 13:23] #169 closed

[2019-06-19 13:24] #167 closed

[2019-06-19 14:24] #140 closed

[2019-06-19 14:31] FinalAngel commented on #144
Closing as we've deprecated cmsplugin-filer for a while now. Please re-open if someone is willing to propose a PR :)

[2019-06-19 14:31] #144 closed

[2019-06-19 14:33] #133 closed

[2019-06-20 08:54] FinalAngel commented on #165
@jasper-flux I tried to understand the problems you are experiencing and created a PR with various tests:

https://github.com/divio/djangocms-link/pull/171

The issue originates from:

```cms_page = self.placeholder.page if self.placeholder_id else None```

Static placeholders act different than regular placeholder and thus `self.placeholder.page` is not available resulting in the reformatting of

[2019-06-21 12:12] #127 closed

[2019-06-21 12:12] #128 closed

[2019-07-02 14:30] #165 closed

[2019-07-16 06:06] botanicvelious opened #176 "djangocms-link requirements"
djangocms-link requires at least django-filer==1.5.0 however the dependency tree doesnt specify that in any package.

[code]

[2019-07-16 06:32] FinalAngel commented on #176
@botanicvelious thanks for the report, I'll have a look as soon as I can :)

[2019-07-17 14:14] FinalAngel commented on #176
@botanicvelious I've tested it locally and django filer 1.3 is not necessarily required. If you run Django 2.0/2.1 you require django-filer 1.4 and for Django 2.2 you need filer 1.5. For Django 1.11 (which is still supported) >=1.3 is okay to use.

[2019-07-17 14:14] #176 closed

[2019-08-08 13:04] rvanlaar commented on #176
I'm curious as to how you tested it.

I've just tested it. djangocms-link migration 0014 depends on django-filer migration 0011.
This migration is only in django-filer >= 1.5.0

[2019-08-08 13:14] rvanlaar commented on #176
The error:

[2019-08-13 08:35] rvanlaar opened #177 "Please Upgrade Django Filer requirements to 1.5.0."
A new issue since #176 was closed and hasn't been reopened:

djangocms-link migration 0014 depends on django-filer migration 0011.
This migration is only in django-filer >= 1.5.0

    django.db.migrations.exceptions.NodeNotFoundError: Migration djangocms_link.0014_link_file_link dependencies reference nonexistent parent node ('filer', '0011_auto_20190418_0137')

[2019-08-22 10:52] FinalAngel commented on #177
done, release pending :)

[2019-08-22 10:52] #177 closed

[2019-11-21 09:38] adrien-delhorme opened #179 "Minimum input length"
Since [this commit](https://github.com/applegrew/django-select2/commit/c15de464d509bee50eea0970f8fe693b594161cf#diff-3fc4925a65748afd176a2c4a542ff3ce) on `django-select2` (v7.0.4), the `Select2PageSearchField` does not automatically display the pages list when opening. Instead it displays "Please enter 2 or more characters" (which is the correct behavior for an `HeavySelect2Mixin`).

Is this a wan

[2019-12-24 07:33] k-funk commented on #177
Also have this issue. Hoping a new release will solve it for me.

[2020-01-10 16:17] mateoreyes opened #180 "Select2 Django 2.2.7"
Hi,

I am using DjangoCMS 3.7, Django 2.1.7 and djangocms-link 2.3.1. Configure django select 2 and it works fine.
But if I change the version of Django to 2.2.7 django select 2 does not work.

I see the following message in the browser console: TypeError: $ element.select2 is not a function (django_select2.js: 48: 14)

[2020-01-11 17:42] jrief commented on #180
which version of django-select2 are you using?

[2020-01-13 12:22] mateoreyes commented on #180
django-select2  7.2.0

[2020-04-26 13:22] sq9mev opened #183 "AttributeError: 'Page' object has no attribute 'site'"
After upgrade 2.5.0 → 2.6.0:

[code]

[2020-05-01 22:01] victor-yunenko commented on #183
Can confirm it. Appeared 2-6 weeks ago, since a project created on March 5th handles the buttons normally. Not sure whether it's related to djnagocms-link.

An affected project with frozen requirements - https://gitlab.com/what-digital/djangocms-template/

[2020-05-01 22:05] victor-yunenko commented on #183
@FinalAngel, perhaps we can push a rollback to pypi or a quick fix?

[2020-05-01 22:08] victor-yunenko commented on #183
Few details:

The button can be created normally, but this error appears in iframe on an attempt to edit it.

One developer [reported](https://stackoverflow.com/questions/61539092/django-cms-link-attributeerror-page-object-has-no-attribute-site) that it doesn't appear on static placeholders.

[2020-05-02 07:03] DmytroLitvinov commented on #183
Probably it happened after [removing try/except block](https://github.com/divio/djangocms-link/compare/2.5.0...2.6.0#diff-479b3e9b7f7358d9667275116876ad81L58)

[2020-05-12 07:14] #183 closed

[2020-08-17 13:57] FinalAngel commented on #180
As a reference: https://github.com/applegrew/django-select2/issues/586

[2020-09-02 08:14] #179 closed

[2020-09-02 09:09] #180 closed

[2020-10-12 13:46] mogoh opened #188 "Add Teaser-Text and Teaser-Image"
I need a CMS-Plugin that displays links with a custom teaser text and an image.
I am thinking about adding this to this plugin.

## Teaser-Text

I would add some model char field for some teaser text.
That would be used in custom templates.
Does this proposed change has a chance of being merged?

## Teaser-Image

Now that is a bit more tricky.
I am not sure, what the best way of uploading and stor

[2020-10-14 16:43] mogoh commented on #188
I think I changed my mind.

[2020-10-14 16:43] #188 closed

[2020-12-16 15:00] mateoreyes opened #189 "DjangoSelect2"
The js located in https://code.jquery.com/jquery-3.5.1.slim.min.js is not available.

I propose to modify the media Class  in the file fields_select2.py

`    class Media:
        js = (
           'js/jquery.js',
        )
`

Then we should make sure we have the jquery file in static / js

[2021-06-25 20:34] tacc-wbomar commented on #163
If one needs both `LinkPlugin` and `Bootstrap4LinkPlugin`, one may install as a single-file app to re-register the `LinkPlugin`.

<details>
<summary>Instructions</summary>

1. In `settings.py` to `INSTALLED_APPS` add `'YOUR_APP_DIR.PLUGIN_APP_DIR.bootstrap4_djangocms_link',`.
2. Add file `YOUR_APP_DIR/PLUGIN_APP_DIR/bootstrap4_djangocms_link.py`.
3. Populate `.../bootstrap4_djangocms_link.py` with

[2021-08-31 14:58] tacc-wbomar commented on #167
For others who have this problem, there is a similar complaint and a solution: https://github.com/django-cms/djangocms-link/issues/163#issuecomment-868818891

[2022-01-07 16:58] PleatherStarfish opened #196 "Under certain conditions edits made by superuser are being overridden by .html extension [BUG]"
I have a Django CMS page with a URL like this `something.edu/dynamic/x/y/`

We had a legacy static page at a URL like this `something.edu/x/y/z.html`

When we moved the sub-page into the CMS, the new subpage link needed to change to `something.edu/x/y/z'

For some reason our superuser account was also assigned various groups and granular permissions. I figured it didn't matter because superuser st

[2022-02-10 10:56] lab360-ch opened #197 "NoReverseMatch when adding a link in CKEditor"
Hi

I got an error on a multisite setup when I try to add the Link Plugin in the CKEditor.

[code]
The error occurs when the language of the user is not available on the site.

**Steps to reproduce:**

Site1: Languages => de,fr,it
Site2: Languages => fr,it
Language in CMS User Settings is `de` and the user tries to add a link in CKEditor on the Site 2.

**Possible solution:**
[code]

[2022-02-19 04:55] silkentrance opened #200 "get_link will always return absolute urls instead of relative urls, making it hard to author content/test out locally"
To follow up on #165

I tend to believe that the placeholder cms_page is redundant as Site.objects.get_current() will already return the correct site. And, considering that any placeholder.page.site is always the current site, when available, the code could be reduced to just

[code]

I have implemented this locally and it works like a charm, unless I missed some very specific detail :smile:

I ca

[2022-02-23 11:50] marksweb commented on #200
@silkentrance Yes, I'd agree that going through the placeholder to get a site_id in order to find the correct Site object isn't the best way to go about things.

However I don't think you can simplify `ref_page_site_id` like that. The `node` attr needs checking as it is now.

[2022-02-24 16:14] silkentrance commented on #200
I have played around with links in static placeholders, links in modules, links linking to pages from a different site than the current one. As of now, everything seems to be working just fine.

[2022-08-05 09:41] jbpenrath opened #202 "Support of Django 4.0"
## Current behaviour
Currently djangocms-link is not compatible with Django 4.0 as it uses a deprecated method `force_text`.

## Expected behaviour
djangocms-link must be compatible with Django 4.0 since django-cms supports it.

[2022-08-19 12:55] #202 closed

[2022-09-09 09:19] viliammihalik opened #205 "Missing release of 3.1.0 in pipy"
The new version 3.1.0 with Django 4.0 support is not in pipy. https://pypi.org/project/djangocms-link/

Can you make it happen, please @FinalAngel ?

Thanks.

[2022-09-09 10:08] marksweb commented on #205
@viliammihalik I've uploaded this and added github actions to allow this to be automated in future.

[2022-09-09 10:08] #205 closed

[2022-09-12 14:59] petrklus opened #209 "django-treebeard requirement"
Hi,

I have noticed that the version 3.1.0 introduced the following line:

https://github.com/django-cms/djangocms-link/blob/f1b51a9ec2a706a3d52eb04bc6dac1796242b946/setup.py#L11

Is this really required? I recall there were issues with some versions of treebeard but, for example, 4.5.1 seems no longer have the issues.

[2022-09-12 16:21] marksweb commented on #209
@petrklus you're right. That shouldn't be there imo. Treebeard is a requirement of the cms itself & to list it in packages like this only adds to the complexity of dependency management.

[2022-09-13 07:51] petrklus commented on #209
Seems to have been added here https://github.com/django-cms/djangocms-link/commit/2e934cf4bb3d114ebf66ec70b12502f459e4f328